<header id="header">
				<h1 id="logo"><a href="/">Kbeznak <span>by Kishan. Supported by Dr. James Caverlee</span></a></h1>
				<nav id="nav">
					<ul>
						<li><a href="/">Welcome</a></li>
                        <li><a href="/blog.html">Blog</a></li>
						<li class="submenu">
							<a href="">Information Storage and Retrieval</a>
							<ul>
								<li><a href="http://courses.cse.tamu.edu/caverlee/csce670/">CSCE 670</a></li>
								<li><a href="http://faculty.cse.tamu.edu/caverlee/">James Caverlee</a></li>
								<li><a href="/no-sidebar.html">No Sidebar</a></li>
								<li><a href="/contact.html">Contact</a></li>
								<li class="submenu">
									<a href="">Submenu</a>
									<ul>
										<li><a href="#">Dolore Sed</a></li>
										<li><a href="#">Consequat</a></li>
										<li><a href="#">Lorem Magna</a></li>
										<li><a href="#">Sed Magna</a></li>
										<li><a href="#">Ipsum Nisl</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<li><a href="#" class="button special">Sign Up</a></li>
					</ul>
				</nav>
			</header>